src/main/resources/wsdl/credit.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="entelect:devcamp:creditcheckservice"
                  targetNamespace="entelect:devcamp:creditcheckservice">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="entelect:devcamp:creditcheckservice"
                   targetNamespace="entelect:devcamp:creditcheckservice" elementFormDefault="qualified">

            <xs:element name="CreditCheck">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customerId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="CreditCheckResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CreditCheckResult" type="tns:creditResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:simpleType name="creditResult">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="RED"/>
                    <xs:enumeration value="AMBER"/>
                    <xs:enumeration value="GREEN"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="CreditCheckResponse">
        <wsdl:part element="tns:CreditCheckResponse" name="CreditCheckResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreditCheck">
        <wsdl:part element="tns:CreditCheck" name="CreditCheck">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CreditPort">
        <wsdl:operation name="CreditCheck">
            <wsdl:input message="tns:CreditCheck" name="CreditCheck">
            </wsdl:input>
            <wsdl:output message="tns:CreditCheckResponse" name="CreditCheckResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditPortSoap11" type="tns:CreditPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreditCheck">
            <soap:operation soapAction=""/>
            <wsdl:input name="CreditCheck">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreditCheckResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditPortService">
        <wsdl:port binding="tns:CreditPortSoap11" name="CreditPortSoap11">
            <soap:address location="/soap-service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>